<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div>
                    <h2>Total: <%=totalSum%></h2>
                </div>
                <div class="centered">
                    <button id="order-btn" class="btn">ORDER</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51Obkz6D4HlMyt95D7TGOKK6LkGr5ODZeuyIXKgHzNTxFjJomlfgJE2ATZsYhOCNqU5aLphr7KxkiQ8Jp2ZEC2q18009MjET94I')
                        const orderBtn = document.getElementById('order-btn')
                        orderBtn.addEventListener('click',()=>{
                           stripe.redirectToCheckout({
                            sessionId: '<%=sessionId%>'
                           })
                        })
                
                    </script>
                </div>
          
        </main>
        <%- include('../includes/end.ejs') %>